﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="airsearch.aspx.cs" Inherits="WebApplication1.airsearch" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    </label><h2 style="color:aqua> 航班資訊查詢</h2> </label>
       <br />
    <table align="center" style="border: 1px dashed #C0C0C0" cellpadding="3" width="60%">
        <tr>
        <td>          
           <label style="color:blueviolet"> 出發地:</label><asp:TextBox ID="TextBox1" runat="server" ReadOnly="False" Height="21px" 
           Width="130px"></asp:TextBox><br/>
           <label style="color:blueviolet">抵達地</label>:<asp:TextBox ID="TextBox2" runat="server" ReadOnly="False" Height="21px" 
           Width="130px"></asp:TextBox><br/>
          <label style="color:blueviolet"> 出發日期:</label><asp:TextBox ID="TextBox3" runat="server" ReadOnly="False" Height="21px" 
           Width="130px"></asp:TextBox><br/>           
            <asp:Button ID="Button1" runat="server" Text="送出" onclick="Button1_Click" />
        </td></tr>
        </table>
    <br/>
    <div align="center">
     <asp:Label ID="Label1" runat="server"></asp:Label></div>
    <br/>
    <br/>
     <asp:GridView ID="GridView1" runat="server" AutoGenerateColumns="False" 
        align="center" BackColor="white" BorderColor="white" CellPadding="4" 
        HorizontalAlign="Center">
        <Columns>
            <asp:BoundField DataField="Company" HeaderText="航空公司" />
            <asp:BoundField DataField="AirlineCode" HeaderText="航班號" />
            <asp:BoundField DataField="StartDrome" HeaderText="出發機場" />
            <asp:BoundField DataField="ArriveDrome" HeaderText="抵達機場" />
            <asp:BoundField DataField="StartTime" HeaderText="出發時間" />
            <asp:BoundField DataField="ArriveTime" HeaderText="抵達時間" />
            <asp:BoundField DataField="Mode" HeaderText="機型" />
            <asp:BoundField DataField="AirlineStop" HeaderText="經停" />       
              <asp:BoundField DataField="Week" HeaderText="飛行週期" />  
        </Columns>
        <HeaderStyle BackColor="#00CCFF" Font-Size="11pt" ForeColor="#000000" />
        <RowStyle HorizontalAlign="Center" />
    </asp:GridView><br/><br/>
     <div align="center"> </div>
</asp:Content>
