﻿/* DEFAULTS
----------------------------------------------------------*/

body   
{
    background: #82d2ff;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
    background-image:url(back1.jpg);
    background-repeat:repeat; 
    background-position:center top;
}

a:link, a:visited
{   color:#FF0000; text-decoration:none; }

a:hover
{   font-size:20px; color:#00FF00; text-decoration:underline;}
a:active
{   color:#FF00FF; text-decoration:underline;}


/*連結列*/
.linksBar {
    font-size: 15px;
    color: #FF0000;
    position: absolute;
    left: 330px;
    top: 213px;
}
.icron {
    position:absolute;   
     left:400px;
    top: 50px;
}
.small {
  position:absolute;   
  top: 0px;
  width:30px;
  height:30px;
}

div.links1 a:link,div.links1 a:visited
{    color: #000000;
  }

div.links1 a:hover
{    color: #d5c09b;
     
    }
    
div.links1 a:active
{    color: #f6bdff;
     }

.button1
{
    width:50px;
    height:30px;
    text-align: center;
}
.error1
{color:#AE0064;}
/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-weight: bold;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
    font-weight: bold;
}

h3
{
    font-size: 1.2em;
    font-weight: bold;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 960px;
    /*background-color: #fff;*/
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    /*background: #4b6c9e;*/
    width: 100%;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    /*color: #f9f9f9;*/
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    background-color: #fff;
    margin: 12px 8px 8px 8px;
    height:500px;
    vertical-align:top;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}

.td1
{   color:White;
    background-color:Gray;
    }

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}