﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="weathersearch.aspx.cs" Inherits="WebApplication1.weathersearch" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <style type="text/css">
        .auto-style9 {
            width: 53px;
        }
        .auto-style12 {
            width: 80%;
        }
        .auto-style15 {
            width: 53px;
            height: 6px;
        }
        .auto-style17 {
            width: 128px;
        }
        .auto-style21 {
            width: 74px;
        }
        .auto-style22 {
            width: 74px;
            height: 6px;
        }
        .auto-style23 {
            width: 85px;
        }
        .auto-style24 {
            width: 85px;
            height: 6px;
        }
        .auto-style25 {
            height: 87px;
        }
        .auto-style26 {
            width: 128px;
            height: 6px;
        }
        </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
     </label><h2 style ="color:#0094ff">天氣預報</h2><label>
    <br/>
     <table align="center" style="text-align:center; border: 1px dashed #C0C0C0 ;" cellpadding="3" width="60%">
        <tr>
        <td aria-sort="none" style="color: #0094ff" >
           </label  style ="color:#0094ff" > 輸入城市名稱:<label><asp:TextBox ID="TextBox1" runat="server" ReadOnly="False" Height="21px" 
           Width="130px"></asp:TextBox>  &nbsp  &nbsp <asp:Button ID="Button1" runat="server" Text="送出" onclick="Button1_Click" />&nbsp;&nbsp;&nbsp;<asp:Label ID="label14" runat="server" Text=""></asp:Label>          
        </td></tr>
        </table>
        <p/> 
       <table align="center" style="border: 1px dashed #C0C0C0" cellpadding="3" width="60%">
           <tr>
                <td width="13%" style="border-top-style: double; border-right-style: double; border-left-style: double; border-top-width: 2px; border-right-width: 2px; border-left-width: 2px; border-top-color: #b1b1b1; border-right-color: #b1b1b1; border-left-color: #b1b1b1;">省分／國家:</td>
           <td style="border-top-style: double; border-right-style: double; border-top-width: 2px; border-right-width: 2px; border-top-color: #b1b1b1; border-right-color: #b1b1b1;"><asp:Label ID="label0" runat="server" Text=""></asp:Label></td> 
           </tr>
           <tr>
     <td style="border-top-style: double; border-right-style: double; border-left-style: double; border-top-width: 2px; border-right-width: 2px; border-left-width: 2px; border-top-color: #b1b1b1; border-right-color: #b1b1b1; border-left-color: #b1b1b1;">城市:</td> 
         <td style="border-top-style: double; border-right-style: double; border-top-width: 2px; border-right-width: 2px; border-top-color: #b1b1b1; border-right-color: #b1b1b1;">
             <asp:Label ID="label1" runat="server" Text=""></asp:Label>
         </td>
        </tr>
    <tr>
         <td style="border-top-style: double; border-right-style: double; border-left-style: double; border-top-width: 2px; border-right-width: 2px; border-left-width: 2px; border-top-color: #b1b1b1; border-right-color: #b1b1b1; border-left-color: #b1b1b1;">資訊更新時間:</td> 
         <td style="border-top-style: double; border-right-style: double; border-top-width: 2px; border-right-width: 2px; border-top-color: #b1b1b1; border-right-color: #b1b1b1;"> <asp:Label ID="label2" runat="server" Text=""></asp:Label></td>
     </tr> 
       </table>
            <p>
               <div align="center"  style ="color:#0094ff">今日天氣</div>
            </p>
            <table align="center" style="border: 1px dashed #C0C0C0" cellpadding="3" class="auto-style12">
    <tr>
         <td style="border-top-style: double; border-right-style: double; border-left-style: double; border-top-width: 2px; border-right-width: 2px; border-left-width: 2px; border-top-color: #b1b1b1; border-right-color: #b1b1b1; border-left-color: #b1b1b1;" class="auto-style9"> 氣溫&nbsp;</td> 
         <td style="border-top-style: double; border-right-style: double; border-left-style: double; border-top-width: 2px; border-right-width: 2px; border-left-width: 2px; border-top-color: #b1b1b1; border-right-color: #b1b1b1; border-left-color: #b1b1b1;" class="auto-style21">日期、概況&nbsp;</td> 
         <td style="border-top-style: double; border-right-style: double; border-left-style: double; border-top-width: 2px; border-right-width: 2px; border-left-width: 2px; border-top-color: #b1b1b1; border-right-color: #b1b1b1; border-left-color: #b1b1b1;"  class="auto-style23">風向、風力&nbsp;</td> 
         <td style="border-top-style: double; border-right-style: double; border-left-style: double; border-top-width: 2px; border-right-width: 2px; border-left-width: 2px; border-top-color: #b1b1b1; border-right-color: #b1b1b1; border-left-color: #b1b1b1;" class="auto-style17" >現在的天氣狀況 &nbsp;</td>


     </tr> 
    <tr>
         <td style="border-top-style: double; border-right-style: double; border-left-style: double; border-top-width: 2px; border-right-width: 2px; border-left-width: 2px; border-top-color: #b1b1b1; border-right-color: #b1b1b1; border-left-color: #b1b1b1; " class="auto-style15" ><asp:Label ID="label3" runat="server" Text=""></asp:Label></td> 
         <td style="  border-top-style: double; border-right-style: double; border-left-style: double; border-top-width: 2px; border-right-width: 2px; border-left-width: 2px; border-top-color: #b1b1b1; border-right-color: #b1b1b1; border-left-color: #b1b1b1;" class="auto-style22"><asp:Label ID="label4" runat="server" Text=""></asp:Label></td> 
         <td style="border-top-style: double; border-right-style: double; border-left-style: double; border-top-width: 2px; border-right-width: 2px; border-left-width: 2px; border-top-color: #b1b1b1; border-right-color: #b1b1b1; border-left-color: #b1b1b1;" class="auto-style24"><asp:Label ID="label5" runat="server" Text=""></asp:Label></td> 
          <td style="border-top-style: double; border-right-style: double; border-left-style: double; border-top-width: 2px; border-right-width: 2px; border-left-width: 2px; border-top-color: #b1b1b1; border-right-color: #b1b1b1; border-left-color: #b1b1b1;" class="auto-style26"><asp:Label ID="label6" runat="server" Text=""></asp:Label></td>         
     </tr> 
    
       </table>
     <table align="center" style=" border: 1px dashed #C0C0C0" cellpadding="3" width="30%">
        <tr>
             <td width="10%" style="border-top-style: double; border-right-style: double; border-left-style: double; border-top-width: 2px; border-right-width: 2px; border-left-width: 2px; border-top-color: #b1b1b1; border-right-color: #b1b1b1; border-left-color: #b1b1b1;text-align:center;">天氣、生活指數:</td>       
        </tr>
         <tr>
              <td width="10%" style="border-top-style: double; border-right-style: double; border-left-style: double; border-top-width: 2px; border-right-width: 2px; border-left-width: 2px; border-top-color: #b1b1b1; border-right-color: #b1b1b1; border-left-color: #b1b1b1;" class="auto-style25"><asp:Label ID="label7" runat="server" Text=""></asp:Label></td>       
         </tr>

                 </table>
            <p>
                 <div align="center"  style ="color:#0094ff" >第二天</div>
            </p>
            <table  align="center" style="border: 1px dashed #C0C0C0; width:60%;">
                <tr>
                 <td width="10%" style="border-top-style: double; border-right-style: double; border-left-style: double; border-top-width: 2px; border-right-width: 2px; border-left-width: 2px; border-top-color: #b1b1b1; border-right-color: #b1b1b1; border-left-color: #b1b1b1;text-align:center;">氣溫&nbsp;</td> 
                 <td width="10%" style="border-top-style: double; border-right-style: double; border-left-style: double; border-top-width: 2px; border-right-width: 2px; border-left-width: 2px; border-top-color: #b1b1b1; border-right-color: #b1b1b1; border-left-color: #b1b1b1;text-align:center;">日期、概況&nbsp;</td> 
                 <td width="10%" style="border-top-style: double; border-right-style: double; border-left-style: double; border-top-width: 2px; border-right-width: 2px; border-left-width: 2px; border-top-color: #b1b1b1; border-right-color: #b1b1b1; border-left-color: #b1b1b1;text-align:center;">風向風力</td> 
                 </tr>
                <tr>
                 <td width="10%" style="border-top-style: double; border-right-style: double; border-left-style: double; border-top-width: 2px; border-right-width: 2px; border-left-width: 2px; border-top-color: #b1b1b1; border-right-color: #b1b1b1; border-left-color: #b1b1b1;"><asp:Label ID="label8" runat="server" Text=""/>&nbsp;</td> 
                 <td width="10%" style="border-top-style: double; border-right-style: double; border-left-style: double; border-top-width: 2px; border-right-width: 2px; border-left-width: 2px; border-top-color: #b1b1b1; border-right-color: #b1b1b1; border-left-color: #b1b1b1;"><asp:Label ID="label9" runat="server" Text=""/>&nbsp;</td> 
                 <td width="10%" style="border-top-style: double; border-right-style: double; border-left-style: double; border-top-width: 2px; border-right-width: 2px; border-left-width: 2px; border-top-color: #b1b1b1; border-right-color: #b1b1b1; border-left-color: #b1b1b1;"><asp:Label ID="label10" runat="server" Text=""/>&nbsp;</td> 
                 </tr>
       </table>
     <p>
                 <div align="center"   style ="color:#0094ff" >第三天</div>
            </p>
     <table align="center" style="border: 1px dashed #C0C0C0; width:60%;">
                <tr>
                 <td width="10%" style="border-top-style: double; border-right-style: double; border-left-style: double; border-top-width: 2px; border-right-width: 2px; border-left-width: 2px; border-top-color: #b1b1b1; border-right-color: #b1b1b1; border-left-color: #b1b1b1;text-align:center;">氣溫&nbsp;</td> 
                 <td width="10%" style="border-top-style: double; border-right-style: double; border-left-style: double; border-top-width: 2px; border-right-width: 2px; border-left-width: 2px; border-top-color: #b1b1b1; border-right-color: #b1b1b1; border-left-color: #b1b1b1;text-align:center;">日期、概況&nbsp;</td> 
                 <td width="10%" style="border-top-style: double; border-right-style: double; border-left-style: double; border-top-width: 2px; border-right-width: 2px; border-left-width: 2px; border-top-color: #b1b1b1; border-right-color: #b1b1b1; border-left-color: #b1b1b1;text-align:center;">風向風力</td> 
                 </tr>
                <tr>
                 <td width="10%" style="border-top-style: double; border-right-style: double; border-left-style: double; border-top-width: 2px; border-right-width: 2px; border-left-width: 2px; border-top-color: #b1b1b1; border-right-color: #b1b1b1; border-left-color: #b1b1b1;"><asp:Label ID="label11" runat="server" Text=""/>&nbsp;</td> 
                 <td width="10%" style="border-top-style: double; border-right-style: double; border-left-style: double; border-top-width: 2px; border-right-width: 2px; border-left-width: 2px; border-top-color: #b1b1b1; border-right-color: #b1b1b1; border-left-color: #b1b1b1;"><asp:Label ID="label12" runat="server" Text=""/>&nbsp;</td> 
                 <td width="10%" style="border-top-style: double; border-right-style: double; border-left-style: double; border-top-width: 2px; border-right-width: 2px; border-left-width: 2px; border-top-color: #b1b1b1; border-right-color: #b1b1b1; border-left-color: #b1b1b1;"><asp:Label ID="label13" runat="server" Text=""/>&nbsp;</td> 
                 </tr>
       </table>
</asp:Content>
