﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="zipsearch.aspx.cs" Inherits="WebApplication1.zipsearch" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
     </label> <h2 style="color:brown>  zip code查詢地址</h2style="color:blueviolet> </label>
     <br /> 
    <table align="center" style="border: 1px dashed #C0C0C0" cellpadding="3" width="60%">
        <tr>
        <td>          
            郵政區碼:<asp:TextBox ID="TextBox1" runat="server" ReadOnly="False" Height="21px" 
           Width="130px"></asp:TextBox> &nbsp;&nbsp;&nbsp;&nbsp;   
            <asp:Button ID="Button1" runat="server" Text="送出" onclick="Button1_Click" />
         &nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp   <asp:Label ID="Label1" runat="server"></asp:Label>
        </td></tr>
        </table><p/>
     <asp:GridView ID="GridView1" runat="server" AutoGenerateColumns="False" 
        align="center" BackColor="white" BorderColor="white" CellPadding="4" 
        HorizontalAlign="Center">
        <Columns>
            <asp:BoundField DataField="PROVINCE" HeaderText="省份/直轄市" />
            <asp:BoundField DataField="CITY" HeaderText="城市、地區" />
            <asp:BoundField DataField="ADDRESS" HeaderText="街道、鄉鎮" />
            <asp:BoundField DataField="ZIP" HeaderText="郵政編碼" />           
        </Columns>
        <HeaderStyle BackColor="#00CCFF" Font-Size="11pt" ForeColor="#000000" />
        <RowStyle HorizontalAlign="Center" />
    </asp:GridView><br/><br/>
</asp:Content>
